doctype 5
html(lang="en")
    head
        title MyPageTitle
    body
        header
            h1 Header 1
        footer#page_footer
            p &copy; 2012 Austin Yun
        section#posts
            article#post
                header
                    h2 Article Title
                    p Posted on (date)
                p Article body blah blah blah
                p Another paragraph in this article
