extends base

block nav
    section#nav.three.columns.sidebar
        nav
            h3 Test h3
            ul
                li List item 1
                li List item 2
                li List item 3


block content
    section#posts.twelve.columns.offset-by-one.content
        article#post
            header
                h2 Article Title
                p.lead Posted on (date)
            p Article body blah blah blah
            p Another paragraph in this article
            h4 Article section 2
